.prod {border:1px solid black;}

body {
	background-color: #BBE9FA;
}

a {
	color: black;
}

a:hover {
	color:gray;
}

ul.user_feed {
	list-style-type: none;
}

ul.user_feed h4 {
		line-height: 1.5em;
}

ul.user_feed p {
	margin-bottom: 0;
}

p.time {
	font-size: 12px;
	text-transform: uppercase;
}

#inserted-content {
	margin-top: 4em;
}

.form {
	border-radius: 3px;
	border: 1px solid #999;
	box-shadow: 1px 1px 0 #999;
	padding: .5em;
	margin: 3em auto;
	background-color: white;
}

#signup-form h3 {
	text-align: center;
}

#signup-form p {
	margin-bottom: .5em;
}


.login {
	margin-top: 2em;
}

.error p {
	color: red;
	font-weight: bold;
	text-align: center;
}

.button {
	background-color: #0A6D91;
	border-color: #0A6D91;
}

.button:hover {
	background-color: #094257;
	border-color: #094257;
}

textarea {
	height: 50px;
}

#add_post {
	margin-top: 2em;
}